@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  background: url("https://images.pexels.com/photos/941869/pexels-photo-941869.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-color: #1d1c1c;
  background-position: center;
  min-height: 100vh;
  background-repeat: repeat;
  background-size: cover;
    font-family: 'Pacifico',
    cursive;
}

.Content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5rem auto;
}

form {
  width: 100%;
  background-color: #383838bd;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0;
}

@media only screen and (max-width: 906px) {
  form {
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }
  .text {
    font-size: 0.8rem;
  }
}

form button {
  background-color: rgb(255, 102, 0) !important;
  color: rgb(255, 255, 255) !important;
}

.input {
  color: rgb(255, 255, 255) !important;
  caret-color: white;
  width: 20rem !important;
  border-bottom: 1px solid black !important;
}

.text {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(255, 102, 0);
  text-shadow: -2px -2px rgba(255, 255, 255, 0.863);
}

.count{
  font-size: 1rem;
  background-color: rgba(250, 250, 250, 0.171);
  padding: 1rem;
  border-radius: 50%;
  color: rgb(255, 255, 255);
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}