body{
   background: url("https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
   background-color: #1d1c1c;
   background-position: center;
   min-height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: -2;
}


.opacity-reducer{
  position: absolute;
  top: 0;
  left: 0;
  height: 315vh;
  width: 100%;
  background-color: #1d1c1c;
  opacity: 0.6;
  z-index: -1;
}


.Content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 5rem auto;

}

form{
  width: 80%;
  background-color: #fafeff;
  margin: 2rem auto;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

@media only screen and (max-width: 906px) {
  form {
    flex-direction: column;
    gap:1.5rem;
    text-align: center;
  }
  .text{
    font-size: 0.8rem;
  }
}


form button{
  background-color: orangered !important;
}

form input{
  width: 100% !important;
  color: orangered !important;
}

.text{
  font-size: 1.5rem;
  font-weight: 700;
  color: orangered;
}